<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Categories</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md">
    <h2 class="border-left pl-2">Categories</h2>
  </div>

  <div class="col-md">
    <buttom routerLink="new" class="btn btn-success float-right">+ New category</buttom>
  </div>
</div>

<table class="table table-striped mt-5">
  <thead class="bg-warning text-light">
    <tr>
      <th><p class="mb-0">Categories</p></th>
      <th><p class="mb-0 float-right">Actions</p></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of categories">
      <td>
        <p class="mb-0"><strong>{{ item.name }}</strong></p>
        <span class="text-secondary"><small>{{ item.description }}</small></span>
      </td>
      <td>
        <div class="float-right">
          <buttom [routerLink]="[item.id, 'edit']" class="btn btn-info btn-sm mr-2">Edit</buttom>
          <button class="btn btn-danger btn-sm" (click)="deleteCategory(item)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>